.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbarContainer {
    width : 100%;
    max-width: 1024px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButtons {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor : pointer;
    color :#003580;
}

.menu {
    cursor: pointer;
    visibility: hidden;
    margin-right: 15px;
}

.menuClose {
    position: absolute;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.menuList {
    height: max-content;
    padding: 5px 20px 20px 20px;
    width: 150px;
    background-color:#e29f10;
    position: absolute;
    top: 13px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    border-radius: 10px;
    margin-right: 10px;

}

.menuItems {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:576px) {
    .menu {
        visibility: visible;
    }

    .logo {
        margin-left: 10px;
    }
}